/*************************
**************************
**                      **
**      Solaris         **
**      Javascript-     **
**      Examination     **
**                      **
**      Egil Ramsten    **
**      27 Nov 23       **
**                      **
**************************/

/* Set up the global rules for the page */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        line-height: 2rem;
        font-size: 1.1rem;
    }

/* Style for the mainpage containers */
    body {
        background-image: 
        linear-gradient(to right, rgba(12, 22, 77, 1), rgba(25, 11, 34, 1));
    }
    .display {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem 0 0;
    }

/* Style for the planet info page */
    .planetcard {
        width: 40rem;
        min-height: 42.5rem;
        margin: 5vh 0 5vh 0;
        display: none;
        overflow: hidden;
        position: absolute;
        left: 30%;
        color: white;
        flex-direction: column;
        gap: .5rem;
    }
    .infogrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border-top: solid .05rem rgba(255, 255, 255, 0.2);
        border-bottom: solid .05rem rgba(255, 255, 255, 0.2);
        height: 10rem;
        margin: 2rem 0 2rem 0;
        gap: 1rem;
        padding-top: 2rem;
    }
    .planetdesc {
        margin-top: 2rem;
    }

/* Style for the escape-button */
    .planetEscape {
        position: absolute;
        right: 5%;
        top: 2%;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        padding: .2rem;
        padding-top: 0;
    }

/* Style for the headlines of the page. */
    h1 {
        color: white;
        font-family: 'Secular One', sans-serif;
        font-weight: 400;
        font-size: 3.75rem;
        line-height: 3.75rem;
        letter-spacing: .09em;   
    }
    h2 {
        color: rgba(255, 208, 41, 1);
        font-size: 1.5rem;
        font-family: 'Lora', serif;
        line-height: 1.5rem;
        letter-spacing: .6em;
        font-weight: 400;
    }
    h3 {
        font-family: 'Secular One', sans-serif;
        font-weight: 400;
        line-height: 1.1rem;
        letter-spacing: .09em;
    }

    /* Position the headlines of the mainpage. */
        .mainheadline {
            position: absolute;
            right: 6%;
            top: 10%;
        }
        .secondheadline {
            position: absolute;
            right: 6%;
            top: 20%;
        }

/* The opaque shadows for the selected planet */
.firstshadow {
    border-radius: 50%;
    width: 80rem;
    height: 80rem;
    opacity: .1;
    overflow: hidden;
    position: absolute;
    left: -70rem;
}
.secondshadow {
    border-radius: 50%;
    width: 80rem;
    height: 80rem;
    opacity: 0.06;
    overflow: hidden;
    position: absolute;
    left: -66rem;
}

/* Planet sizes based on position in the system */
    .planet {
        border-radius: 50%;
    }
    .planet:nth-child(1) {
        width: 80rem;
        height: 80rem;
        margin-left: -74rem;
        overflow: hidden;
    }
    .planet:nth-child(2) {
        width: 0.875rem;
        height: 0.875rem;
    }
    .planet:nth-child(3) {
        width: 1.625rem;
        height: 1.625rem;
    }
    .planet:nth-child(4) {
        width: 1.75rem;
        height: 1.75rem;
    }
    .planet:nth-child(5) {
        width: 0.875rem;
        height: 0.875rem;
    }
    .planet:nth-child(6) {
        width: 11.75rem;
        height: 11.75rem;
    }
    .planet:nth-child(7) {
        width: 9rem;
        height: 9rem; 
    }
    .planet:nth-child(8) {
        width: 4.125rem;
        height: 4.125rem;
    }
    .planet:nth-child(9) {
        width: 4.125rem;
        height: 4.125rem;
    }

/* Colors for all the planets based on name */
    .Solen {
        background-color: rgba(255, 208, 41, 1);
    }
    .Merkurius {
        background-color: rgba(136, 136, 136, 1);
    }
    .Venus {
        background-color: rgba(231, 205, 205, 1);
    }
    .Jorden {
        background-color: rgba(66, 142, 212, 1);
    }
    .Mars {
        background-color: rgba(239, 95, 95, 1);
    }
    .Jupiter {
        background-color: rgba(226, 148, 104, 1);

    }
    .Saturnus {
        background-color: rgba(199, 170, 114, 1);
    }
    .Uranus {
        background-color: rgba(201, 212, 241, 1);
    }
    .Neptunus {
        background-color: rgba(122, 145, 167, 1);
    }

/* Rings for the Saturn figure */
    .rings {
        margin-top: 4.4rem;
        margin-left: -1.5rem;
        border-radius: 50%;
        width: 12.124rem;
        height: .3rem;
        rotate: -30deg;
        background-color: rgba(255, 255, 255, 0.4);
    }

/* Effects for the interactive elements */
    .planet:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    .planetEscape:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.265);
    }

    .starswrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        z-index: -1;
    }
    .stars {
        position: relative;
        border-radius: 50%;
        width: .2rem;
        height: .2rem;
        background: rgba(255, 255, 255, .2);
        box-shadow: -35rem 0 .1rem rgba(255, 255, 255, 0.3), -65rem 0 .1rem rgba(255, 255, 255, 0.25);
        animation: animate 45s linear infinite;
        animation-duration: calc(200s / var(--i));
    }

    .starswrapper span:nth-child(even) {
        min-width: .2rem;
        height: .2rem;
    }
    @keyframes animate {
        0% {
            transform: translateX(-10vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }